<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <script id="info" type="x/template">
      <div class="container" id="recommended"><!--
        --><div>
          <h4>Recommended Items</h4>
          <ul>
            <li>
              <img src="img/applesauce.jpg" />
              <h6>Mott's Unsweetened Applesauce, 3.9 oz cups</h6>
              <p>$3.00, $0.13 / Ounce, Rated 4.7 out of 5</p>
              <span>Recommended because you recently purchased pudding and apples</span>
            </li>
            <li>
              <img src="img/protein.jpg" />
              <h6>EAS 100% Whey Protein, Vanilla</h6>
              <p>$29.98, $0.94 / Ounce, Rated 4 out of 5</p>
              <span>Recommended because your friends Mike and John bought this</span>
            </li>
            <li>
              <img src="img/tissues.jpg" />
              <h6>Kleenex Ultra Soft & Strong Facial Tissues</h6>
              <p>$4.48, $0.01 / Count, Rated 4.7 out of 5</p>
              <span>Recommended because of your browsing history</span>
            </li>
            <li>
              <img src="img/eggs.jpg" />
              <h6>Skittles and Starburst Candy Filled Easter Eggs</h6>
              <p>$5.68, $1.07 / Ounce, Rated 5 out of 5</p>
              <span>Recommended because Easter is next month</span>
            </li>
            <li>
              <img src="img/tide.jpg" />
              <h6>Tide HE Turbo Powder Laundry Detergent</h6>
              <p>$12.96, $0.14 / Ounce, Rated 4.6 out of 5</p>
              <span>Recommended because it's been a while since you bought laundry detergent</span>
            </li>
          </ul>
        </div><!--
        --><div>
          <h4>Featured Items</h4>
          <ul>
            <li>
              <img src="img/chobani.png" />
              <h6>Chobani Non-fat Greek Yogurt, 5.3 oz.</h6>
              <p><b>50% OFF</b>, Rated 5 out of 5</p>
              <span>All flavors. Limit 7 per customer. Offer ends 3/13/17.</span>
            </li>
            <li>
              <img src="img/soda.jpg" />
              <h6>Pepsi Soda, 2 L</h6>
              <p><b>5 FOR $5</b>, Rated 3.9 out of 5</p>
              <span>Applies to all Pepsi soda products. Offer ends 3/13/17.</span>
            </li>
            <li>
              <img src="img/avocados.jpg" />
              <h6>Avocados, Organic</h6>
              <p><b>75¢ OFF</b>, Rated 4.8 out of 5</p>
              <span>Freshly picked and recently in season. Offer ends 3/15/17</span>
            </li>
            <li>
              <img src="img/toothpaste.jpg" />
              <h6>Crest Complete Toothpaste, 5.8 oz.</h6>
              <p><b>BOGO 30% OFF</b>, Rated 4.2 out of 5</p>
              <span>Applies to all single-packs of toothpaste. Offer ends 3/16/17.</span>
            </li>
            <li>
              <img src="img/milk.jpg" />
              <h6>Organic Valley, Pasteurized, Gallon, 128 oz.</h6>
              <p>50¢ OFF, Rated 4.6 out of 5</p>
              <span>Totally organic milk. Offer ends 3/20/17.</span>
            </li>
          </ul>
        </div><!--
      --></div>
    </script>
    <script id="maps-template" type="x/template">
      <div class="container" id="maps">
        <div>
          <div id="here" v-bind:style="'top:' + y + 'px;left:' + x + 'px;'"></div>
          <div id="pin" v-bind:style="'top:' + pinY + 'px;left:' + pinX + 'px;'">
            <img src="img/applesauce.jpg" v-bind:src="item" />
          </div>
        </div>
      </div>
    </script>
    <script id="netflix-template" type="x/template">
      <div class="container" id="netflix">
        <video v-if="isPlaying" autoplay v-bind:src="'netflix/' + file"></video>
        <div v-else>
          <img src="img/netflix_bg.png" />
          <p>
            You can now keep up with your grocery list and favorite TV shows at
            the same time. This smart cart is equipped with an onboard
            entertainment system to improve your shopping experience. Choose a
            title from the control panel to get started.
          </p>
        </div>
      </div>
    </script>
    <script id="camera" type="x/template">
      <div class="container">
        <video id="front-video" autoplay></video>
      </div>
    </script>
    <script id="tinder-template" type="x/template">
      <div class="container" id="tinder">
        <img src="img/tinder_bg.png" />
        <h4>Your Favorite Dating App</h4>
        <h5>Now For Smart Cart AG101114XS453</h5>
        <p>
          We know that shopping can be a bore sometimes, so we've made your
          favorite dating app available for the Smart Cart. You'll be able to
          shop for groceries and love at the same time by discovering new and
          interesting people nearby and chatting with your matches. Please visit
          one of our sales associates to enable this feature. A monthly charge
          of $2.99 may apply.
        </p>
      </div>
    </script>
    <script id="rear-camera-template" type="x/template">
      <div class="container split" id="rear-camera">
        <video id="rear-video" autoplay></video>
        <label class="glass">Warning: Objects in camera may be closer than they appear.</label>
      </div>
    </script>
    <div id="display">
      <info v-if="mainScreen === 'info'" v-bind:class="{ split: rearCameraEnabled }"></info>
      <maps v-if="mainScreen === 'maps'" v-bind:class="{ split: rearCameraEnabled }"></maps>
      <netflix v-if="mainScreen === 'netflix'" v-bind:class="{ split: rearCameraEnabled }"></netflix>
      <camera v-if="mainScreen === 'camera'" v-bind:class="{ split: rearCameraEnabled }"></camera>
      <tinder v-if="mainScreen === 'tinder'" v-bind:class="{ split: rearCameraEnabled }"></tinder>
      <rear-camera v-if="rearCameraEnabled"></rear-camera>
    </div>
  </body>
</html>
