@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: 'Lato', sans-serif;
}

button {
  border: 1px outset blue;
  background-color: lightBlue;
  height:100px;
  width:100px;
  cursor:pointer;
}

div {
  text-align: center
}
