@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900');

/* General Shared Styles between Tablet and Display */
html, body {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(to left, #cb2d3e , #ef473a);
  color: white;
  overflow: hidden;
  text-align: center;
}



/* Styles for Tablet Specific Content*/
canvas {
  display: none;
}

img.icon {
  height: 120px;
  width: 120px;
  margin: 0px 100px 100px 100px;
  cursor: pointer;
  border-radius: 10px;
}

img.icon + label {
  display: inline-block;
  width: 120px;
  text-align: center;
  position: relative;
  top: -80px;
  margin-left: -220px;
}

div.controls {
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF);
  width: 60vw;
  height: 80vh;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0px;
  left: 20vw;
  color: black;
  padding: 20px;
  border: 1px solid #333;
  border-bottom-width: 0px;
  overflow: hidden;
  box-shadow: 0px 0px 20px black
}

div.controls div.header {
  font-size: 2em;
  height: 40px;
  padding: 20px;
  line-height: 40px;
  border-bottom: 1px solid #333;
  margin: -20px -20px 20px -20px;
  position: relative;
}

div.controls div.header button {
    position: absolute;
    right: 20px;
    border-width: 0px;
    background: transparent;
    font-size: 40px;
    margin-top: -10px;
    cursor: pointer;
}

div.controls p {
    margin: 10px 40px;
}

div.controls h4 {
    font-size: 1.5em;
    font-weight: 400;
}

div.controls p.error {
    color: #ff3300;
}

div.controls ul {
    list-style-type: none;
    margin: 30px auto;
    padding: 0;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 50vh;
}

div.controls ul li {
    padding: 20px;
    border-top: 1px solid #333;
    text-align: left;
}

div.controls ul li span {
    font-weight: bold;
    display: block;
}

div.controls ul li span.paid {
    margin-left: 10px;
    display: inline;
    color: #009933;
}

div.controls ul li:first-child {
    border-top-width: 0px;
}

div.controls #control-bar img {
    margin: 0px 20px 10px 20px;
    cursor: pointer;
}

div.controls div.button {
    line-height: 40px;
    font-size: 20px;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #666;
    cursor: pointer;
}

div.controls img#photo {
    margin: 20px auto;
}

h3 {
    font-weight: 300;
    font-size: 60px;
    line-height: 160px;
    padding: 0px;
    margin: 8% 0px 5% 0px;
    position: relative;
}

h3 div {
    font-weight: 400;
    line-height: 23px;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 55px;
    border: 2px solid white;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #333;
    cursor: pointer;
}

h3 div span {
    font-size: 20px;
    font-weight: 500;
}

.controls-enter-active, .controls-leave-active {
    transition: transform .5s
}
.controls-enter, .controls-leave-to {
    transform: translate(0, 80vh);
}



/* Styles for Display Specific Content*/
div.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  transition: height 0.5s;
}

div.container.split {
  height: 50vh;
}

div.container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div#recommended div {
  width: 40%;
  margin: 0px 5%;
  display: inline-block;
  vertical-align: top;
}

div#recommended div h4 {
  font-size: 2.6em;
  font-weight: 300;
}

div#recommended div ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div#recommended div ul li {
  text-align: left;
  height: 130px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  color: black;
  margin-bottom: 40px;
}

div#recommended div ul li img {
  height: 100px;
  float: left;
  margin: 15px;
}

div#recommended div ul li h6 {
  font-weight: 400;
  font-size: 22px;
  padding: 30px 0px 3px 0px;
  margin: 0px;
}

div#recommended div ul li p {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

div#recommended div ul li span {
  display: block;
  font-size: 12px;
  margin: 4px 0px;
  padding: 0px;
}

div#tinder {
  background: rgb(255, 254, 255);
  color: rgb(219, 102, 94);
  font-size: 0.9em;
}

div#tinder img {
  display: block;
  margin: auto;
  height: 204px;
  margin-bottom: 50px;
}

div #tinder h4 {
  font-weight: 600;
  font-size: 2.5em;
  margin: 12px;
}

div #tinder h5 {
  font-weight: 500;
  font-size: 1.6em;
  margin: 12px;
}

div#tinder p {
  max-width: 400px;
  text-align: justify;
  margin: auto;
}

div#netflix {
  background: linear-gradient(to left, #131516 , #212325);
  font-size: 1.1em;
}

div#netflix img {
  display: block;
  height: 150px;
  margin: 15% auto 20px auto;
}

div#netflix p {
  max-width: 400px;
  text-align: justify;
  margin: auto;
  color: rgb(233, 41, 44);
}

div#rear-camera {
  height: 49vh;
  border-top: 1vh solid white;
}

div#rear-camera label {
  font-size: 0.9em;
  margin: auto;
  position: absolute;
  bottom: 5vh;
  left:0;
  right:0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}
