<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script src="vue.js"></script>
    <script src="coffee-script.js"></script>
    <script type="text/coffeescript" src="main.coffee"></script>
  </head>
  <body>
    <div id="tablet">
      <div v-if="loggedIn">
        <h3>Welcome Gavy</h3>
        <img v-on:click="launchApp('maps')" class="icon" src="img/maps.png" />
        <label>Maps</label>
        <img v-on:click="launchApp('netflix')" class="icon" src="img/netflix.png" />
        <label>Netflix</label>
        <img v-on:click="launchApp('camera')" class="icon" src="img/camera.png" />
        <label>Camera</label>
        <img v-on:click="launchApp('tinder')" class="icon" src="img/tinder.png" />
        <label>Tinder</label>
        <button v-on:click="toggleRearCamera">Toggle Rear Camera</button>
        <transition name="controls">
          <div v-if="currentApp === 'maps'" class="controls">
            maps controls
            <button v-on:click="closeApp">Close App</button>
          </div>
        </transition>
        <transition name="controls">
          <div v-if="currentApp === 'netflix'" class="controls">
            netflix controls
            <button v-on:click="closeApp">Close App</button>
          </div>
        </transition>
        <transition name="controls">
          <div v-if="currentApp === 'camera'" class="controls">
            camera controls
            <button v-on:click="closeApp">Close App</button>
          </div>
        </transition>
        <transition name="controls">
          <div v-if="currentApp === 'tinder'" class="controls">
            tinder controls
            <button v-on:click="closeApp">Close App</button>
          </div>
        </transition>
      </div>
      <div v-else>
        Log In Screen Comes Here
        [INPUT FIELDS GO HERE]
        <button v-on:click="login">Login</button>
      </div>
    </div>
  </body>
</html>
