<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script src="vue.js"></script>
    <script src="coffee-script.js"></script>
    <script type="text/coffeescript" src="main.coffee"></script>
  </head>
  <body>
    <div id="tablet">
      <div v-if="loggedIn">
        Welcome Gavy
        <button v-on:click="launchApp('maps')">Maps</button>
        <button v-on:click="launchApp('netflix')">Netflix</button>
        <button v-on:click="launchApp('camera')">Camera</button>
        <button v-on:click="launchApp('tinder')">Tinder</button>
        <button v-on:click="toggleRearCamera">Toggle Rear Camera</button>
        <div v-if="currentApp === 'maps'">
          maps controls
          <button v-on:click="closeApp">Close App</button>
        </div>
        <div v-if="currentApp === 'netflix'">
          netflix controls
          <button v-on:click="closeApp">Close App</button>
        </div>
        <div v-if="currentApp === 'camera'">
          camera controls
          <button v-on:click="closeApp">Close App</button>
        </div>
        <div v-if="currentApp === 'tinder'">
          tinder controls
          <button v-on:click="closeApp">Close App</button>
        </div>
      </div>
      <div v-else>
        Log In Screen Comes Here
        [INPUT FIELDS GO HERE]
        <button v-on:click="login">Login</button>
      </div>
    </div>
  </body>
</html>
