<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script src="vue.js"></script>
    <script src="jquery.js"></script>
    <script src="coffee-script.js"></script>
    <script type="text/coffeescript" src="main.coffee"></script>
  </head>
  <body>
    <div id="tablet">
      <h3>
        Welcome to FoodMart
        <div v-on:click="toggleRearCamera">
          Rear Camera <span>{{ rearCameraEnabled ? "Enabled" : "Disabled" }}</span>
        </div>
      </h3>
      <img v-on:click="launchApp('maps')" class="icon" src="img/maps.png" />
      <label>Maps</label>
      <img v-on:click="launchApp('netflix')" class="icon" src="img/netflix.png" />
      <label>Netflix</label>
      <img v-on:click="launchApp('camera')" class="icon" src="img/camera.png" />
      <label>Camera</label>
      <img v-on:click="launchApp('tinder')" class="icon" src="img/tinder.png" />
      <label>Tinder</label>
      <transition name="controls">
        <div v-if="currentApp === 'maps'" class="controls">
          <div class="header">
            Maps<button v-on:click="closeApp">✖</button>
          </div>
          <p>What are you looking for?</p>
          <ul class="dense">
            <li v-on:click="choosePin(661, 127, 'img/avocados.jpg')">
              Avocados
            </li>
            <li v-on:click="choosePin(547+175, 292, 'img/apples.jpg')">
              Apples
            </li>
            <li v-on:click="choosePin(547+175, 269, 'img/bananas.jpg')">
              Bananas
            </li>
            <li v-on:click="choosePin(613+200, 131, 'img/cereal.jpg')">
              Cereal
            </li>
            <li v-on:click="choosePin(288+175, 475, 'img/chips.png')">
              Chips
            </li>
            <li v-on:click="choosePin(173+175, 333, 'img/chocolate.jpg')">
              Chocolate
            </li>
            <li v-on:click="choosePin(401+175, 204, 'img/eggs2.jpg')">
              Eggs
            </li>
            <li v-on:click="choosePin(335+175, 402, 'img/icecream.jpg')">
              Ice Cream
            </li>
            <li v-on:click="choosePin(187+175, 300, 'img/juice.png')">
              Juice
            </li>
            <li v-on:click="choosePin(497+175, 35, 'img/lobster.jpg')">
              Lobster
            </li>
            <li v-on:click="choosePin(543+175, 191, 'img/mangoes.jpg')">
              Mangoes
            </li>
            <li v-on:click="choosePin(186+175, 473, 'img/soda.jpg')">
              Soda
            </li>
            <li v-on:click="choosePin(551+175, 35, 'img/shrimp.jpg')">
              Shrimp
            </li>
            <li v-on:click="choosePin(23+175, 236, 'img/soap.jpg')">
              Soap
            </li>
            <li v-on:click="choosePin(272+175, 125, 'img/toys.jpg')">
              Toys
            </li>
            <li v-on:click="choosePin(162+175, 203, 'img/toothpaste.jpg')">
              Toothpaste
            </li>
            <li v-on:click="choosePin(395+175, 298, 'img/chobani.jpg')">
              Yogurt
            </li>
          </ul>
        </div>
      </transition>
      <transition name="controls">
        <div v-if="currentApp === 'netflix'" class="controls">
          <div class="header">
            Netflix<button v-on:click="closeApp">✖</button>
          </div>
          <div v-if="netflix.isPlaying">
            <p>Now Playing:</p>
            <h4>{{ netflix.title }}</h4>
            <div id="control-bar">
              <img v-on:click="skipInVideo(-60)" src="img/next.png" style="transform: rotate(180deg)"/>
              <img v-on:click="togglePause" v-bind:src="netflix.paused ? 'img/play.png' : 'img/pause.png'" />
              <img v-on:click="skipInVideo(60)" src="img/next.png" />
            </div>
            <p>Want to watch something else?</p>
          </div>
          <div v-else>
            <p>What would you like to watch?</p>
          </div>
          <ul>
            <li v-on:click="chooseMovie('Zootopia', 'zootopia.webm', false)">
              <span>Zootopia (2016)</span>
              In a city of anthropomorphic animals, a rookie bunny cop and a cynical con artist fox must work together to uncover a conspiracy.
            </li>
            <li v-on:click="chooseMovie('Deadpool', 'deadpool.webm', false)">
              <span>Deadpool (2016)</span>
              A fast-talking mercenary with a morbid sense of humor is subjected to a rogue experiment that leaves him with accelerated healing powers and a quest for revenge.
            </li>
            <li v-on:click="chooseMovie('La La Land', '', true)">
              <span>La La Land (2016)<span class="paid">$$$</span></span>
              A jazz pianist falls for an aspiring actress in Los Angeles.
            </li>
            <li v-on:click="chooseMovie('Suicide Squad', '', true)">
              <span>Suicide Squad (2016)<span class="paid">$$$</span></span>
              A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.
            </li>
            <li v-on:click="chooseMovie('Billions', 'billions.webm', false)">
              <span>Billions (2016)</span>
              U.S. Attorney Chuck Rhoades goes after hedge fund king, Bobby "Axe" Axelrod in a battle between two powerful New York figures.
            </li>
            <li v-on:click="chooseMovie('How I Met Your Mother', '', true)">
              <span>How I Met Your Mother (2005 - 2014)<span class="paid">$$$</span></span>
              A father recounts to his children, through a series of flashbacks, the journey he and his four best friends took leading up to him meeting their mother.
            </li>
            <li v-on:click="chooseMovie('Narcos', '', true)">
              <span>Narcos (2015 - )<span class="paid">$$$</span></span>
              A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar.
            </li>
          </ul>
          <p v-if="netflix.upgrade" class="error">
            {{ netflix.title }} is a premium title. To enable playback of this
            content, you must either see a sales associate to make a one-time
            payment of $0.99 to a sales associate or buy at least 2 of today's
            featured products.
          </p>
        </div>
      </transition>
      <transition name="controls">
        <div v-if="currentApp === 'camera'" class="controls">
          <div class="header">
            Camera<button v-on:click="closeApp">✖</button>
          </div>
          <div class="button" v-on:click="takePicture">Take Picture</div>
          <img id="photo" v-bind:src="camera.img" />
          <div class="button" v-if="camera.img" v-on:click="sharePicture">Share Picture</div>
        </div>
      </transition>
      <transition name="controls">
        <div v-if="currentApp === 'tinder'" class="controls">
          <div class="header">
            Tinder<button v-on:click="closeApp">✖</button>
          </div>
          <h4>Tinder Requires a Subscription</h4>
          <p>
            We know that shopping can be a bore sometimes, so we've made your
            favorite dating app available for the Smart Cart. You'll be able to
            shop for groceries and love at the same time by discovering new and
            interesting people nearby and chatting with your matches. Please visit
            one of our sales associates to enable this feature. A monthly charge
            of $2.99 may apply.
          </p>

        </div>
      </transition>
    </div>
    <canvas></canvas>
  </body>
</html>
